@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body{
     background: #fff;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

footer{
     margin-top: auto;
}

h1{
     font-family: 'Montserrat';
     font-size:64px;
     text-align:center;
     color: #FFf;
     margin-bottom: 0;
     padding-top:80px;
}
header{
     background-color: brown;
}

.heroImage{
     width:100%;
     background-position: top;
     background-repeat: no-repeat;
     background-size: cover;
     height:250px;
     background-image:url("../img/nathan-anderson-L95xDkSSuWw-unsplash.jpg")
}

.navitem {
     padding:16px;
     text-decoration:none;
     color:rgb(129, 20, 111) !important;
 }

 .checkBox{
     padding-right:25px;
 }

 .rowCheck{
     padding-top:30px;
 }

 .cardRow{
     margin:0 auto;
     padding-top:30px;
 }

 .card{
     margin-right:30px;
     width:25%;
 }

 .card-img-top {
     width: 100%;
     height: 10vw;
     object-fit: cover;
 }


 .footer{
     padding-top:30px;
     width: 80%;
     margin:0 auto;

 }

 .iconFooter{
     width:30px;
     padding-bottom:30px;

 }

 .bgFooter{
     margin-top:30px;
     background-color: #FF3B6A;
 }
 


 /* DETAILS PAGE */
 .details{
     margin-top:50px;
     margin-bottom:70px;
     background-color:#88AAE5;
     border-radius:20px;
 }

 .textDetails{
     padding:40px;
 }

 .imageDetails{
     padding:40px;
     width:650px;
     height:auto;
 }

 @media (max-width: 600px) {
     .imageDetails{
          width:400pxs;
     }
     .card{
          width:100%;
          margin-bottom:40px;
     }
 }

 /* STATS */

 .tableStats{
     margin-top:30px;
     background-color: fff;
 }

 .tableStyles{
     position: relative;
     display: block;
     margin: 10px auto;
     padding: 0;
     width: 100%;
     height: auto;
     border-collapse: collapse;
 }

 .tableTitle{
     display:block;
     width:100%;
 }

 /* form */

 .formStyles{
     margin: 0 auto;
     margin-top:40px;
 }